*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	color: snow;
	background-color: snow;
}
.navbar{
	border: 0;
	background-color: #454545;
	border-radius: 0;
}
.glyphicon{
	font-size: 25px;
	color: sandybrown;
}
.center{
	width: 90%;
	background-color: snow;
}
.container{
	background-color: #454545;
}
.text{
	font-size: 30px;
}
h2{
	text-align: center;
}
h1{
	text-align: center;
	margin-bottom: 10px;
	color: black;
	font-size: 30px;
}
.navbar-brand{
	font-size: 25px;
	color: blanchedalmond;
}
